<!-- loading -->
<div id="loader" role="load">
    <i class="fa fa-power-off"></i>
    <span><p>CARGANDO<label id="dot1">.</label><label id="dot2">.</label><label id="dot3">.</label></p></span>
</div>

<div class='content current home' id='home'>
    <div class="wrapper">
        <header>
            <nav id="nav">
                <ul>
                    <li><a href="#acerca" id="about">Acerca de nosotros</a></li>
                    <li><a href="#servicios" id="services">Servicios</a></li>
                    <li><a href="#contactenos" id="contact">Contactenos</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper-content">
            <section id="home-text">
                <div id="home-title">
                    <img src="/assets/logospruebaesosaver/logo.png" class="logo" >
                    <!--Lorem <span>Ipsun</span> -->
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item"><h2>Lorem ipsum dolor sit amet.</h2></div>
                        <div class="item"><h2>consectetur adipiscing elit.</h2></div>
                        <div class="item"><h2>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2></div>
                    </div>
                </div>
            </section>
        </div>
        <a href="#acerca" class="cd-scroll-down cd-img-replace">scroll down</a>
    </div>
</div>

<div class="fullWidth">
    <div class="row row-large">
        <h1>Servicios</h1>
        <div class="large-4 medium-12 small-12 columns first">
            <img src="http://megabytesistemi.com/images/png/ethernet.png">
            <div class="contenido content-first">
                <p>Instalación de sistemas de Cableado Estructurado</p>
            </div>
        </div>
        <div class="large-4 medium-4 small-12 medium-push-2 columns second content-clear">
            <img src="http://www.pw-group.co.jp/userfiles/images/cms/Desktop-Support.png">
            <div class="contenido">
                <p>Mantenimiento Preventivo y Correctivo de Computadoras</p>
            </div>
        </div>
        <div class="large-4 medium-4 small-12 medium-pull-2 columns third content-clear">
            <img src="http://simpleicon.com/wp-content/uploads/computer-2.png">
            <div class="contenido">
                <p>Venta y distribución de equipos de tecnológicos</p>
            </div>
        </div>
    </div>
</div>
        
<section class="wrapper contact-section fullWidth" id="contact">
    <div class="row disable-select">
        <h1>Contactenos</h1>
        <div class="large-6 medium-6 small-12 columns dan">
            <h2 class="name">Daniel Moreno</h2>
            <label class="phone"><i class="fi-telephone"></i>0412-4854883</label>
            <label class="phone"><i class="fi-mail"></i>lanboxstore@gmail.com</label>
        </div>
        <hr class="show-for-small-only ">
        <div class="large-6 medium-6 small-12 columns">
            <h2 class="name">Kristell Graff</h2>
            <label class="phone"><i class="fi-telephone"></i>0426-7323707</label>
            <label class="phone"><i class="fi-mail"></i>lanboxstore1@gmail.com</label>
        </div>
        <div class="large-12 medium-12 small-12 columns">
            <h2>Donde Ubicarnos</h2>
            <span>Av. Ppal La Cooperativa, frente a la Panaderia Andreina, Maracay estado Aragua – Venezuela.</span>
            <hr>
            <div class="embed-container">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.8734647602473!2d-67.57810618458073!3d10.271777992665196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e803b4a3b0e8807%3A0xfdb9ce4393d7e87e!2siX+Global+c.a.+Venzuela!5e0!3m2!1sen!2sve!4v1458492482063" frameborder="0" style="border:0" allowfullscreen width="100%" height="580"></iframe> -->
                <iframe src="https://www.google.com/maps/d/embed?mid=zQWXgAI4yDWQ.kH7bKXyix5tI"  frameborder="0" style="border:0" allowfullscreen width="100%"></iframe>
            </div>
        </div>
        <div class="large-12 medium-12 small-12 columns">            
            <%= form_for root_path, :html => {:name => '/',:class => "contact-form"} do |f| %>
                    <% if @message.errors.any? %>
                        <div id="error_explanation">
                            <h2>
                                <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
                            </h2>
                            <ul>
                                <% @message.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <%= f.label :name %>
                    <%= f.text_field :name, placeholder: "Ingrese su nombre", :required => true %>
                    <%= f.label :email %>
                    <%= f.email_field :email, placeholder: "Ingrese su correo electronico", :required => true %>

                    <%= f.label :Titulo %>
                    <%= f.text_field :subject, placeholder: "Ingrese el asunto de su mensaje" %>

                    <%= f.label :contenido %><div id="textarea_feedback"></div>
                    <%= f.text_area :content, :cols => 60, :rows => 8, placeholder: "Ingrese su mensaje", :required => true, :maxlength => 1445, id: "textarea" %>
                
                    <br>
                    <%= f.submit 'Enviar', class: 'button' %>
                
                <% end %>            
        </div>
    </div>
</section>